@charset "utf-8";
/*-----------------------------------------------------

	共通用CSS

------------------------------------------------------*/

*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

body{
	min-width: 320px;
	background: #fff;
	font: .8em/1.5em 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Osaka,'ＭＳ Ｐゴシック',helvetica,arial,clean,sans-serif;}

img{
	width: 100%;
	height: auto;
	vertical-align: middle;
}

/*-----------------------------------------------------
	header　
-----------------------------------------------------*/
header {}

/*-----------------------------------------------------
	footer　
-----------------------------------------------------*/
footer {}

/*-----------------------------------------------------
	右カラム
-----------------------------------------------------*/
#right_column{
	display: none;
}